* {
  font-family: 'Poppins-Regular';
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}
.W-100 {
  max-width: 100% !important;
}
.img-responsive {
  width: 100%;
  height: fit-content;
}
.mb-13 {
  margin-bottom: 13px;
}
.py-42 {
  padding: 42px 0;
}
.p-42 {
  padding: 42px;
}

.my-42 {
  margin: 42px 0;
}

.pt-42 {
  padding-top: 42px;
}
.pb-42 {
  padding-bottom: 42px;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-40 {
  margin-bottom: 40px;
}
.mb-32 {
  margin-bottom: 32px;
}
.pt-32 {
  padding-top: 2rem;
}
.mb-42 {
  margin-bottom: 42px;
}
.mt-42 {
  margin-top: 42px;
}
