// pharma banner styles
.pharma-banner {
  .banner-content {
    .title,
    .desc {
      color: $white !important;
    }

    button {
      border-color: $white;
      color: $white;
      &:hover {
        border-color: $primary;
      }
    }
  }
}
@include for-tablet {
  .pharma-banner {
    .row {
      flex-direction: column-reverse;
      .banner-img {
        margin-bottom: 1rem;
      }
    }
  }
}
// pharma business styles

.pharma_business {
  .detail_box {
    padding: 77px 45px !important;
    .title {
      margin-bottom: 48px;
    }
  }
}
@include for-tablet {
  .pharma_business {
    padding: 1.5rem 1rem !important;
    border-radius: 10px;

    .row {
      flex-direction: column-reverse;
    }
    .detail_box {
      border-radius: 10px;
      padding: 2rem !important;
      .title {
        margin-bottom: 1.5rem;
      }
    }
    img {
      margin-bottom: 0 !important;
    }
  }
}
